*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
}
nav a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    animation: moverizquierda 5s ease-in;
}
.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
header{
background: #603813;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b29f94, #603813);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img{
    display: block;
    height: 500px;
    object-fit: cover;
    width: auto;
    border: 1px solid #e0e3e6;
    

}
.textos{
    width: 50%;
    color: #fff;
}
.textos h1{
    font-size: 80px;
    -webkit-text-stroke: 1.5px #8C9194;
    color: #fff;

}
.textos h2{
    font-size: 30px;

}
.textos a{
    display: block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #0462BC;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
}
.wave{
    height: 100px;
    width: 100%;
    background: #603813;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b29f94, #603813);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}